.slider-filter{
    filter: brightness(0.6);
}
.banner-slider-btn::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: #FE7A36;
    transition: left 0.5s;
    z-index: 1;
}
.btn-golbal{
    -webkit-transition: all 0.5s ease-out;
    transition: background-color 0.5s;
    overflow: hidden;
}

.btn-golbal:hover {
    background-color: #2c3e50;
}

.btn-golbal:hover.banner-slider-btn::after{
    left: 0;
}

