@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
    font-family: iranSans;
    src: url('../public/Font/YekanBakhFaNum-Regular.ttf');
}
body {
  color: rgb(var(--foreground-rgb));
    overflow-x: hidden;
    font-size: 16px;
    font-family: iranSans !important;
}
.register-bg{
  background: url("../public/registerBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.header-bg{
  background: #001d3d !important;
}
.dashboard-header{
  background: #001d3d !important;
  width: 100vw;
}
.btn-golbal{
  background: #003566;
  border-radius: 8px;
}
.text-anmation-global{
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.page-banner{
    position: relative;
    width: 100%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.page-banner::after{
    content: '';
    position: absolute;
    background: url(../public/registerBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}